
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Indie Flower', cursive;
}


body {
    margin: 0;
    background: #DBE2EF;
  }

  .center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .tring{

    color:#F9F7F7;
    color:#DBE2EF;
    color:#3F72AF;
    color:#112D4E ;
    }
    