.login-form{
 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 0px;
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 20rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
    border-radius: 6px;
    color:#112D4E;
    background:#F9F7F7;
}

.form-control {
    margin: 0.3rem 0;
    background: transparent;
    border:none;
  }
  
  .form-control label,
  .form-control input,
  .form-control textarea {

    font-family: 'Kalam', cursive;
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    font-size: .7rem;
    
  }
  
  .form-control input[type='email'], input[type='password']
   {
    width: 100%;
    font: inherit;
    margin-bottom: 1rem;
    border: none;
    /* border-bottom: 1px solid #ccc; */
    border-radius: 5px;
    background: #DBE2EF;
    letter-spacing: 1px;
    padding: 0.15rem 0.25rem;
    resize: none;
  }
  
  .form-control input:focus,
  .form-control textarea:focus {
    outline: none;
    background: #DBE2EF;
    border-color: #112D4E;
  }
  
.form-control button{
background-color: #112D4E;
border: 1px solid #112D4E;
padding:0.5rem 1rem;
border-radius: 30px; 
color:white;
display:block;
margin:0 auto;
/* margin-top: 7px; */
cursor:pointer;
transition: background 0.1s ease-in;
font-family: 'Kalam', cursive;

}
.form-control button:hover{
  transform: scale(1.001);
  color:#DBE2EF;
  background-color: #112D4E;
}

 