
  
  .mainnav-title {
    color: #3F72AF;
  }

  
  .mainnav-title a {
    text-decoration: none;
    transition: color .2s ease-out;
    color: #3F72AF;;
  }
  .mainnav-title a:hover {
    color: #112D4E;
  }

  