.navlinks {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navlinks li {
  margin: 1rem;
}

.navlinks a {
  /* border: 1px solid transparent; */
  color: #3F72AF;
  text-decoration: none;
  font-weight: bold;
  border-bottom: solid 1px transparent;
  transition: color .2s ease-out, border-bottom-color .2s ease-out;
  padding: 0.5rem;
}

.navlinks a:hover,
.navlinks a:active,
.navlinks a.active {
  /* background: white;
    border-color: #292929; */
  color: #112D4E;
  border-bottom: 1px solid #112D4E;
}

.navlinks button {
  cursor: pointer;
  /* border: 1px solid #292929; */
  border: none;
  color: #3F72AF;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
  font-weight: bold;
}

.navlinks button:focus {
  outline: none;
}

.navlinks button:hover,
.navlinks button:active {
  background: transparent;
  color: #112D4E;
  border-bottom: 1px solid #112D4E;
}